
 body
{
margin:30;
padding:5;
font: 90% arial,halvalica,sans-serif;
background: black;
color:#F0FFFF;
font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 15pt;
}

.h1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: gold;  
        font-size: 30pt; 
        text-decoration: none}

        .font1 {
        
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:darkblue; 
        font-size: 15pt; 
        text-decoration: none}

        .font2 {
        
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:black; 
        font-size: 15pt; 
        text-decoration: none}

        

       

        
	