
 body
{
margin:30px;
padding:5px;
background: black;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+54 */
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 54%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 54%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
color:#F0FFFF;
font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 1.5em;
}

 p em  {

        color: red;
    }
    p i {color: darkgoldenrod;
 }
 :link{color:orangered;

 }

 a:hover {color: yellowgreen;

  }

:visited{
        color: red;
        }

.h1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: gold;  
        font-size: 2em; 
        text-decoration: none}

        .font1 {
        
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:darkblue; 
        font-size: 15pt; 
        text-decoration: none}

    
        
         .shadow {
        
        box-shadow: -2px 5px 10px 7px #f90;
         }

    
.gallery {
        overflow: hidden;
    }
        .gallery__item {
            float: left;
            width: 48%;
            margin-right: 2%;
        }
            .gallery__item:nth-child(odd) {
                clear: both;
            }
            .gallery__item:nth-child(even) {
                float: right;
                margin-right: 0;
            }

figure {
    margin: 0 0 1.25em; /* 16 * 1.2 = 20 */
}
.figure {
    position: relative; /* contain the source */
}
    .figure__caption {
        font-size: 0.875em; /* 16 * .875 = 14 */
        font-style: italic;
        margin: 1em 0 0;
    }
      
   