
 body
{
margin:30px;
padding:5px;
background: black;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+-1,207cca+-1,7db9e8+0,7db9e8+0,207cca+0,1e5799+0,2989d8+0,207cca+0,207cca+0,188c9b+0,050203+53 */
background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top,  #2989d8 -1%, #207cca -1%, #7db9e8 0%, #7db9e8 0%, #207cca 0%, #1e5799 0%, #2989d8 0%, #207cca 0%, #207cca 0%, #188c9b 0%, #050203 53%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2989d8 -1%,#207cca -1%,#7db9e8 0%,#7db9e8 0%,#207cca 0%,#1e5799 0%,#2989d8 0%,#207cca 0%,#207cca 0%,#188c9b 0%,#050203 53%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2989d8 -1%,#207cca -1%,#7db9e8 0%,#7db9e8 0%,#207cca 0%,#1e5799 0%,#2989d8 0%,#207cca 0%,#207cca 0%,#188c9b 0%,#050203 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#050203',GradientType=0 ); /* IE6-9 */

color:#F0FFFF;
font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 1.5em;
 
}
main p:first-letter 
{ float: left;
 color:darkgoldenrod ; 
 font-size: 3em;
 line-height: 0.8em; 
 padding-top: 4px; 
 padding-right: 8px; 
 padding-left: 3px;
 font-family: Georgia;
}



 p em  {

        color: red;
    }
    p i {color: darkgoldenrod;
 }
 :link{color:orangered;

 }

 a:hover {color: yellowgreen;

  }

:visited{
        color: red;
        }

.h1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:gold;  
        font-size: 2em; 
        text-decoration: none;
        }

        .font1 {
        
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:darkblue; 
        font-size: 15pt;
        text-decoration: none;}

    
        
         .shadow {
        
        box-shadow: -2px 5px 10px 7px #f90;
         }

         .img
         {transform: rotate(9deg);
         
         }

    
.gallery {
        overflow: hidden;
    }
        .gallery__item {
            float: left;
            width: 48%;
            margin-right: 2%;
        }
            .gallery__item:nth-child(odd) {
                clear: both;
            }
            .gallery__item:nth-child(even) {
                float: right;
                margin-right: 0;
            }

figure {
    margin: 0 0 1.25em; /* 16 * 1.2 = 20 */
}
.figure {
    position: relative; /* contain the source */
}
    .figure__caption {
        font-size: 0.875em; /* 16 * .875 = 14 */
        font-style: italic;
        margin: 1em 0 0;
    }
    .border
    {
        border: darkgoldenrod 5px solid;
        border-radius: 10px;
    } 

.div1 {
    width: 48%;
    height: auto;
    padding: 20px;
    border: 0px solid blue; 
    float: left;
   position: relative;
   
} 
.div2 {
    width: 47%;
    height: auto;
    padding: 8px;
    border: 0px solid red;
    position: relative;
    float: right;}

    .div3 {
    width: 47%;
    height: auto;
    padding: 20px;
    border: 2px solid blue; 
    float: left;
   position: relative;
   
} 
.div4 {
    width: 48%;
    height: auto;
    padding: 8px;
    border: 2px solid red;
    position: relative;
    float: right;}


  
@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWay 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWay 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWay 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

.ball {
  display: inline-block;
  width: 100%;
  height:100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
  .ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
  .ball.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; }
    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.bubblez {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
  

	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 50px;
	position: absolute;
	width: 50px;
 
    -webkit-animation-delay:5s;
    -moz-animation-delay: 5s;
     animation-delay:5s;

    -webkit-animation: animateBubble 25s linear, sideWay 5s ease-in-out infinite;
	-moz-animation: animateBubble 25s linear, sideWay 5s ease-in-out infinite;
	animation: animateBubble 25s linear, sideWay 5s ease-in-out infinite;
	
    bottom: 82%;
    left: 20%;

   
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
    
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 

@-webkit-keyframes sideWay { 
    0% { 
        margin-bottom:0px;
    }
    100% { 
        margin-bottom:120px;
    }
}

@-moz-keyframes sideWay { 
    0% { 
        margin-bottom:0px;
    }
    100% { 
        margin-bottom:120px;
    }
}

@keyframes sideWay { 
    0% { 
        margin-bottom:0px;
    }
    100% { 
        margin-bottom:120px;
    }
    } 
    .bubblez1{
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 50px;
	position: absolute;
	width: 50px;

     -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
     animation-delay: 1s;

    -webkit-animation: animateBubble 25s linear, sideWay 6s ease-in-out infinite;
	-moz-animation: animateBubble 25s linear, sideWay 6s ease-in-out infinite;
	animation: animateBubble 25s linear, sideWay 6s ease-in-out infinite;
	
    bottom: 79%;
    left: 19%;

   
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
    
}

    .bubblez2{
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 60px;
	position: absolute;
	width: 60px;

    -webkit-animation-delay:4s;
    -moz-animation-delay: 4s;
     animation-delay:4s;

    -webkit-animation: animateBubble 25s linear, sideWay 4s ease-in-out infinite;
	-moz-animation: animateBubble 25s linear, sideWay 4s ease-in-out infinite;
	animation: animateBubble 25s linear, sideWay 4s ease-in-out infinite;
	
    bottom: 83%;
    left: 20%;

   
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
    }
     .bubblez3{
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

    -webkit-animation-delay:2s;
    -moz-animation-delay: 2s;
     animation-delay:2s;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 40px;
	position: absolute;
	width: 40px;

    -webkit-animation: animateBubble 25s linear, sideWay 2s ease-in-out infinite;
	-moz-animation: animateBubble 25s linear, sideWay 2s ease-in-out infinite;
	animation: animateBubble 25s linear, sideWay 2s ease-in-out infinite;
	
    bottom: 83.5%;
    left: 22.5%;

   
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
    }
     .bubblez3{
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 40px;
	position: absolute;
	width: 40px;

    -webkit-animation: animateBubble 25s linear, sideWay 3s ease-in-out infinite;
	-moz-animation: animateBubble 25s linear, sideWay 3s ease-in-out infinite;
	animation: animateBubble 25s linear, sideWay 3s ease-in-out infinite;
	
    bottom: 82.5%;
    left: 21.5%;

   
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
    }
     .bubblez4{
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 40px;
	position: absolute;
	width: 40px;

    -webkit-animation-delay:3s;
    -moz-animation-delay: 3s;
     animation-delay: 3s;

    -webkit-animation: animateBubble 25s linear, sideWay 3s ease-in-out infinite;
	-moz-animation: animateBubble 25s linear, sideWay 3s ease-in-out infinite;
	animation: animateBubble 25s linear, sideWay 3s ease-in-out infinite;
	
    bottom: 80%;
    left: 20.5%;

   
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
    }


   