
 body
{
margin:30px;
padding:5px;
background: black;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+-1,207cca+-1,7db9e8+0,7db9e8+0,207cca+0,1e5799+0,2989d8+0,207cca+0,207cca+0,188c9b+0,050203+53 */
background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top,  #2989d8 -1%, #207cca -1%, #7db9e8 0%, #7db9e8 0%, #207cca 0%, #1e5799 0%, #2989d8 0%, #207cca 0%, #207cca 0%, #188c9b 0%, #050203 53%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2989d8 -1%,#207cca -1%,#7db9e8 0%,#7db9e8 0%,#207cca 0%,#1e5799 0%,#2989d8 0%,#207cca 0%,#207cca 0%,#188c9b 0%,#050203 53%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2989d8 -1%,#207cca -1%,#7db9e8 0%,#7db9e8 0%,#207cca 0%,#1e5799 0%,#2989d8 0%,#207cca 0%,#207cca 0%,#188c9b 0%,#050203 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#050203',GradientType=0 ); /* IE6-9 */

color:#F0FFFF;
font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 1.5em;
 
}
main p:first-letter 
{ float: left;
 color:darkgoldenrod ; 
 font-size: 3em;
 line-height: 35px; 
 padding-top: 4px; 
 padding-right: 8px; 
 padding-left: 3px;
 font-family: Georgia; }



 p em  {

        color: red;
    }
    p i {color: darkgoldenrod;
 }
 :link{color:orangered;

 }

 a:hover {color: yellowgreen;

  }

:visited{
        color: red;
        }

.h1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:gold;  
        font-size: 2em; 
        text-decoration: none;
        }

        .font1 {
        
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:darkblue; 
        font-size: 15pt;
        text-decoration: none;}

    
        
         .shadow {
        
        box-shadow: -2px 5px 10px 7px #f90;
         }

    
.gallery {
        overflow: hidden;
    }
        .gallery__item {
            float: left;
            width: 48%;
            margin-right: 2%;
        }
            .gallery__item:nth-child(odd) {
                clear: both;
            }
            .gallery__item:nth-child(even) {
                float: right;
                margin-right: 0;
            }

figure {
    margin: 0 0 1.25em; /* 16 * 1.2 = 20 */
}
.figure {
    position: relative; /* contain the source */
}
    .figure__caption {
        font-size: 0.875em; /* 16 * .875 = 14 */
        font-style: italic;
        margin: 1em 0 0;
    }
    .border
    {
        border: darkgoldenrod 5px solid;
        border-radius: 10px;
    }
